VITE_WP_REST_BASE_URL=https://alcinodagraca.xyz/wp-json/wp/v2
VITE_SITE_URL=http://localhost:3000

# Server-only (do not prefix with VITE)
# Use these when WordPress REST requires authentication.
WP_REST_BASE_URL=https://alcinodagraca.xyz/wp-json/wp/v2
WP_APP_USERNAME=rnrnshn
WP_APP_PASSWORD=WAyl FAc6 Omfn zjpW KSzS aAmW
